name: gopuca
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
jobs:
  test:
    name: Test ${{ matrix.os }} go${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        go: ["1.20.x", "1.21.x"]

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.X"
          architecture: "x64"

      - name: Get dependencies
        run: |
          go mod download
          make install-py-opcua

      - name: Run Tests
        run: make test integration
